cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==42.0.7
cssselect==1.2.0
et-xmlfile==1.1.0
lxml==5.2.1
openpyxl==3.1.2
pathlib==1.0.1
pdfminer.six==20231228
pdfplumber==0.11.0
pdfquery==0.4.3
pillow==10.3.0
pycparser==2.22
pypdf==4.2.0
pypdfium2==4.30.0
pyquery==2.0.0
roman==4.2
typing_extensions==4.11.0
